@using Ecommerce.Models
@model List<Usuario>
<h2></h2>

@* Link em MVC | Razor *@
@Html.ActionLink("Cadastrar Usuário", "CadastrarUsuario", "Usuario") <br>
@Html.ActionLink("Logar", "Login", "Usuario")

<table class="table table-hover table-striped" style="margin-top:30px">
    <tr>
        <th>Nome</th>
        <th>E-mail</th>>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>

    @foreach (Usuario usuario in Model)
    {
        <tr>
            <td>
                @usuario.Nome
            </td>
            <td>
                @usuario.Email
            </td>
            <td>@Html.ActionLink("Editar", "EditarUsuario", "Usuario", new { id = usuario.UsuarioId }, null)</td>
            <td>@Html.ActionLink("Excluir", "ExcluirUsuario", "Usuario", new { id = usuario.UsuarioId }, null)</td>
        </tr>

    }

</table>
