@using Ecommerce.Models
@model List<Produto>
@{
    DateTime data = ViewBag.Data;
    //List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
}
<h2>Gerencimento de Produtos</h2>
@*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto </a]>*@
@*Ctrl + K + C = Comentário*@

@* Link em MVC | Razor *@
@Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")
@Html.ActionLink("Cadastrar Categoria", "CadastrarCategoria", "Categoria")
<br><br><b><i> Produtos já cadastrados</i></b><br>
<table class="table table-hover table-striped" style="margin-top:30px">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    @foreach (Produto produto in Model)
    {
        <tr>
            <td>@produto.Nome</td>
            <td>@produto.Descricao</td>
            <td>@produto.Preco</td>
            <td>@produto.Categoria</td>
            <td>@Html.ActionLink("Editar", "EditarProduto", "Produto", new { id = produto.IdProduto }, null)</td>
            <td>@Html.ActionLink("Excluir", "ExcluirProduto", "Produto", new { id = produto.IdProduto }, null)</td>
        </tr>
    }
</table>
<div style="text-align:right">
    <p>Dados atualizados às:  <b>@data</b></p>
</div>
