
@{
    Layout = null;
    DateTime data = ViewBag.Data;
    List<Ecommerce.Models.Produto> produtos = ViewBag.Produtos;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciamento de Produtos</title>
</head>
<body>
    <h1>Gerencimento de Produtos</h1>
    @*<a href="~/Views/Produto/Cadastrar"> Cadastrar Produto </a]>*@
    @*Ctrl + K + C = Comentário*@

    @data

    @* Link em MVC | Razor *@
    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")
    <br><br><b><i> Produtos já cadastrados</i></b><br>
    <div>
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
            @foreach (var produto in produtos)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Preco</td>
                    <td>@produto.Categoria</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
