@model  List<Ecommerce.Models.ItemVenda>

@{
    double total = ViewBag.Total;
}
<h2>Carrinho de Compras</h2>
<table class="table table-hover table-striped">

    <tr>
        <th></th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Subtotal</th>
        <th>Detalhes</th>
        <th>Remover</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Imagens/@item.Produto.Imagem" alt="Imagem do Produto" style="width:50px" />
            </td>
            <td>
                @item.Produto.Nome
            </td>
            <td>
                @Html.ActionLink("  -  ", "DiminuirQuantidade", "Home", new { id = item.idItemVenda }, new { @class = "btn btn-danger" })
                @item.Quantidade
                @Html.ActionLink("  +  ", "AumentarQuantidade", "Home", new { id = item.idItemVenda, }, new { @class = "btn btn-success" })
            </td>
            <td>
                @item.Preco.ToString("C2")
            </td>
            @{
                double subtotal = item.Quantidade * item.Preco;
            }
            <td>
                @subtotal.ToString("C2")
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.idItemVenda })
            </td>
            <td>
                @Html.ActionLink("Remover", "RemoverItemCarrinho", "Home", new { id = item.idItemVenda }, null)
            </td>
        </tr>
                }
</table>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;" >
    <div class="card-header">Total:</div>
    <div class="card-body">
        <p class="card-text">@total.ToString("C2")</p>
    </div>
</div>